/*visual guideline*/
p {
  /* font-family: "Atlas Grotesk Web Light Regular"; */
  font-family: "Inter";
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0.5em;
}

iframe {
  margin-top: 2em;
  margin-bottom: 2em;
}

body {
  margin: 0;
  font-size: 18px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  text-rendering: optimizeLegibility;
}

h1 {
  font-family: "Karla", sans-serif;
  font-weight: 600;
  /* z-index: 2;
  position: relative; */
}

.content {
  max-width: 640px;
  margin: auto;
  text-align: left;
  /* padding: 1em 0; */
  padding-top: 1.5em;
  padding-bottom: 3em;
}

/* .emojicontent {
  margin: auto;
} */

.header {
  max-width: 680px;
  margin: auto;
  text-align: center;
  padding-top: 10em;
}

.subhead {
  padding-top: 1em;
}

.byline {
  font-size: 12px;
}

/* media queries*/
@media (max-width: 640px) {
  body {
    font-size: 18px;
  }
  .content {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
}

/* .hidden {
  display: none;
} */

.hidden {
  visibility: hidden;
}

.step {
  margin-bottom: 35vh;
}

/*bee chart css*/
/* .bee-emoji-chart {
  z-index: 1;
} */
.emoji {
  transition: transform 0.5s, opacity 0.5s;
}
/*graph css stuff*/
/*chart css stuff*/

.chart__tables {
  width: 100%;
  overflow-x: auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1rem auto;
  border-collapse: collapse;
  border-spacing: 0;
}

.tables__container {
  display: block;
  max-width: 100%;
  overflow-x: auto;
  padding: 1rem;
  /* background: #f7f7f7; */
  border-radius: 8px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.tables__container table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.tables__container th {
  border-bottom: 2.5px solid #ddd;
  padding: 0.75em;
  color: black;
  font-weight: 600;
  /* text-align: center; */
}

.tables__container th,
.tables__container td {
  text-align: left;
  font-family: "Inter", sans-serif;
  width: 20%;
}

/* .tables__container tr:nth-child(even) {
  background: #f2f2f2;
} */

.tables__container td {
  border-bottom: 1px solid #c7c7c7;
  padding-left: 0.75em;
  padding-top: 0.45em;
  padding-bottom: 0.45em;
}

.highlight {
  background-color: rgba(255, 234, 184, 0.874);
  /* text-decoration: underline; */
}

.container {
  display: flex;
}

.content.container {
  padding-bottom: 1em !important;
}

.borough-container {
  display: inline-flex;
  flex-direction: column;
}

.borough {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

.left-column {
  flex: 75%;
  /* background-color: #ddd; */
}

.right-column {
  flex: 25%;
  /* background-color: blue; */
  margin-bottom: 5em;
}

/* #manhattan {
  background-color: #0081a7;
}

#brooklyn {
  background-color: #00afb9;
}

#queens {
  background-color: #ffed4b;
}

#bronx {
  background-color: #f4b54e;
}

#statenIsland {
  background-color: #fe8478;
} */
